In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
df = pd.read_csv("Customertravel.csv")

In [4]:
df.head()

,Age,FrequentFlyer,AnnualIncomeClass,ServicesOpted,AccountSyncedToSocialMedia,BookedHotelOrNot,Target
0,34,No,Middle Income,6,No,Yes,0
1,34,Yes,Low Income,5,Yes,No,1
2,37,No,Middle Income,3,Yes,No,0
3,30,No,Middle Income,2,No,No,0
4,30,No,Low Income,1,No,No,0

In [5]:
df.drop("AccountSyncedToSocialMedia", axis="columns", inplace=True)

In [6]:
df.head()

   Age FrequentFlyer AnnualIncomeClass  ServicesOpted BookedHotelOrNot  Target
0   34            No     Middle Income              6              Yes       0
1   34           Yes        Low Income              5               No       1
2   37            No     Middle Income              3               No       0
3   30            No     Middle Income              2               No       0
4   30            No        Low Income              1               No       0

In [7]:
df.dtypes

Age                   int64
FrequentFlyer        object
AnnualIncomeClass    object
ServicesOpted         int64
BookedHotelOrNot     object
Target                int64
dtype: object

In [9]:
df.isnull().shape

(954, 6)

In [10]:
df.shape

(954, 6)

In [12]:
for column in df:
    print(f'{column}:{df[column].unique()}')

Age:[34 37 30 27 36 28 35 31 38 33 29]
FrequentFlyer:['No' 'Yes' 'No Record']
AnnualIncomeClass:['Middle Income' 'Low Income' 'High Income']
ServicesOpted:[6 5 3 2 1 4]
BookedHotelOrNot:['Yes' 'No']
Target:[0 1]

In [13]:
df.replace('No Record', 'No', inplace=True)

In [14]:
for column in df:
    print(f'{column}:{df[column].unique()}')

Age:[34 37 30 27 36 28 35 31 38 33 29]
FrequentFlyer:['No' 'Yes']
AnnualIncomeClass:['Middle Income' 'Low Income' 'High Income']
ServicesOpted:[6 5 3 2 1 4]
BookedHotelOrNot:['Yes' 'No']
Target:[0 1]

In [15]:
yesNoColumns = ['FrequentFlyer', 'BookedHotelOrNot']

for col in yesNoColumns:
    df[col].replace({'Yes': 1, 'No': 0}, inplace=True)

In [16]:
for column in df:
    print(f'{column}:{df[column].unique()}')

Age:[34 37 30 27 36 28 35 31 38 33 29]
FrequentFlyer:[0 1]
AnnualIncomeClass:['Middle Income' 'Low Income' 'High Income']
ServicesOpted:[6 5 3 2 1 4]
BookedHotelOrNot:[1 0]
Target:[0 1]

In [21]:
df1=pd.get_dummies(data=df, columns=['AnnualIncomeClass'])

In [23]:
df.head()

,Age,FrequentFlyer,AnnualIncomeClass,ServicesOpted,BookedHotelOrNot,Target
0,34,0,Middle Income,6,1,0
1,34,1,Low Income,5,0,1
2,37,0,Middle Income,3,0,0
3,30,0,Middle Income,2,0,0
4,30,0,Low Income,1,0,0

In [22]:
df1.head()

,Age,FrequentFlyer,ServicesOpted,BookedHotelOrNot,Target,AnnualIncomeClass_High Income,AnnualIncomeClass_Low Income,AnnualIncomeClass_Middle Income
0,34,0,6,1,0,0,0,1
1,34,1,5,0,1,0,1,0
2,37,0,3,0,0,0,0,1
3,30,0,2,0,0,0,0,1
4,30,0,1,0,0,0,1,0

In [32]:
df1.shape

(954, 8)

In [24]:
df1.dtypes

Age                                int64
FrequentFlyer                      int64
ServicesOpted                      int64
BookedHotelOrNot                   int64
Target                             int64
AnnualIncomeClass_High Income      uint8
AnnualIncomeClass_Low Income       uint8
AnnualIncomeClass_Middle Income    uint8
dtype: object

In [25]:
cols_to_scale = ['Age', 'ServicesOpted']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

df1[cols_to_scale] = scaler.fit_transform(df1[cols_to_scale])

In [26]:
df1.head()

,Age,FrequentFlyer,ServicesOpted,BookedHotelOrNot,Target,AnnualIncomeClass_High Income,AnnualIncomeClass_Low Income,AnnualIncomeClass_Middle Income
0,0.636364,0,1.0,1,0,0,0,1
1,0.636364,1,0.8,0,1,0,1,0
2,0.909091,0,0.4,0,0,0,0,1
3,0.272727,0,0.2,0,0,0,0,1
4,0.272727,0,0.0,0,0,0,1,0

In [27]:
X = df1.drop('Target', axis='columns')
Y = df1['Target']

In [28]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=5)

In [29]:
x_train.shape

(763, 7)

In [30]:
x_test.shape

(191, 7)

In [31]:
len(x_train.columns)

7

In [33]:
import tensorflow as tf
from tensorflow import keras

In [49]:
model = keras.Sequential([
    keras.layers.Dense(7, input_shape=(7,), activation="relu"),
    keras.layers.Dense(5, activation="relu"),
    keras.layers.Dense(5, activation="relu"),
    keras.layers.Dense(5, activation="relu"),
    keras.layers.Dense(1, activation="sigmoid"),
    
])

In [50]:
model.compile(optimizer="adam",
             loss="binary_crossentropy",
             metrics=['accuracy'])

In [51]:
model.summary()

Model: "sequential_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_17 (Dense)             (None, 7)                 56
_________________________________________________________________
dense_18 (Dense)             (None, 5)                 40
_________________________________________________________________
dense_19 (Dense)             (None, 5)                 30
_________________________________________________________________
dense_20 (Dense)             (None, 5)                 30
_________________________________________________________________
dense_21 (Dense)             (None, 1)                 6
=================================================================
Total params: 162
Trainable params: 162
Non-trainable params: 0
_________________________________________________________________

In [52]:
model.fit(x_train, y_train, epochs=50)

Epoch 1/50
24/24 [==============================] - 1s 1ms/step - loss: 0.7395 - accuracy: 0.2425
Epoch 2/50
24/24 [==============================] - 0s 1ms/step - loss: 0.6972 - accuracy: 0.4902
Epoch 3/50
24/24 [==============================] - 0s 2ms/step - loss: 0.6755 - accuracy: 0.7615
Epoch 4/50
24/24 [==============================] - 0s 2ms/step - loss: 0.6540 - accuracy: 0.7720
Epoch 5/50
24/24 [==============================] - 0s 2ms/step - loss: 0.6291 - accuracy: 0.7720
Epoch 6/50
24/24 [==============================] - 0s 2ms/step - loss: 0.6044 - accuracy: 0.7720
Epoch 7/50
24/24 [==============================] - 0s 1ms/step - loss: 0.5796 - accuracy: 0.7720
Epoch 8/50
24/24 [==============================] - 0s 2ms/step - loss: 0.5526 - accuracy: 0.7720
Epoch 9/50
24/24 [==============================] - 0s 2ms/step - loss: 0.5261 - accuracy: 0.7720
Epoch 10/50
24/24 [==============================] - 0s 2ms/step - loss: 0.5009 - accuracy: 0.7720
Epoch 11/50
24/24 [==============================] - 0s 3ms/step - loss: 0.4780 - accuracy: 0.7720
Epoch 12/50
24/24 [==============================] - 0s 3ms/step - loss: 0.4523 - accuracy: 0.7746
Epoch 13/50
24/24 [==============================] - 0s 2ms/step - loss: 0.4371 - accuracy: 0.7890
Epoch 14/50
24/24 [==============================] - 0s 2ms/step - loss: 0.4262 - accuracy: 0.7929
Epoch 15/50
24/24 [==============================] - 0s 2ms/step - loss: 0.4210 - accuracy: 0.7982
Epoch 16/50
24/24 [==============================] - 0s 2ms/step - loss: 0.4165 - accuracy: 0.8113
Epoch 17/50
24/24 [==============================] - 0s 1ms/step - loss: 0.4133 - accuracy: 0.8139
Epoch 18/50
24/24 [==============================] - 0s 2ms/step - loss: 0.4110 - accuracy: 0.8152
Epoch 19/50
24/24 [==============================] - 0s 2ms/step - loss: 0.4091 - accuracy: 0.8113
Epoch 20/50
24/24 [==============================] - 0s 2ms/step - loss: 0.4081 - accuracy: 0.8152
Epoch 21/50
24/24 [==============================] - 0s 1ms/step - loss: 0.4068 - accuracy: 0.8126
Epoch 22/50
24/24 [==============================] - 0s 2ms/step - loss: 0.4068 - accuracy: 0.8126
Epoch 23/50
24/24 [==============================] - 0s 2ms/step - loss: 0.4051 - accuracy: 0.8126
Epoch 24/50
24/24 [==============================] - 0s 2ms/step - loss: 0.4043 - accuracy: 0.8126
Epoch 25/50
24/24 [==============================] - 0s 4ms/step - loss: 0.4026 - accuracy: 0.8139
Epoch 26/50
24/24 [==============================] - 0s 6ms/step - loss: 0.4017 - accuracy: 0.8139
Epoch 27/50
24/24 [==============================] - 0s 4ms/step - loss: 0.4011 - accuracy: 0.8139
Epoch 28/50
24/24 [==============================] - 0s 2ms/step - loss: 0.4004 - accuracy: 0.8113
Epoch 29/50
24/24 [==============================] - 0s 2ms/step - loss: 0.4006 - accuracy: 0.8139
Epoch 30/50
24/24 [==============================] - 0s 1ms/step - loss: 0.3990 - accuracy: 0.8152
Epoch 31/50
24/24 [==============================] - 0s 3ms/step - loss: 0.3984 - accuracy: 0.8126
Epoch 32/50
24/24 [==============================] - 0s 3ms/step - loss: 0.3969 - accuracy: 0.8139
Epoch 33/50
24/24 [==============================] - 0s 4ms/step - loss: 0.3977 - accuracy: 0.8152
Epoch 34/50
24/24 [==============================] - 0s 3ms/step - loss: 0.3958 - accuracy: 0.8126
Epoch 35/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3958 - accuracy: 0.8139
Epoch 36/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3942 - accuracy: 0.8126
Epoch 37/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3937 - accuracy: 0.8126
Epoch 38/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3930 - accuracy: 0.8152
Epoch 39/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3935 - accuracy: 0.8126
Epoch 40/50
24/24 [==============================] - 0s 4ms/step - loss: 0.3940 - accuracy: 0.8087
Epoch 41/50
24/24 [==============================] - 0s 4ms/step - loss: 0.3915 - accuracy: 0.8152
Epoch 42/50
24/24 [==============================] - 0s 3ms/step - loss: 0.3905 - accuracy: 0.8152
Epoch 43/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3904 - accuracy: 0.8152
Epoch 44/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3911 - accuracy: 0.8257
Epoch 45/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3907 - accuracy: 0.8139
Epoch 46/50
24/24 [==============================] - 0s 2ms/step - loss: 0.3888 - accuracy: 0.8257
Epoch 47/50
24/24 [==============================] - 0s 3ms/step - loss: 0.3878 - accuracy: 0.8231
Epoch 48/50
24/24 [==============================] - 0s 3ms/step - loss: 0.3864 - accuracy: 0.8257
Epoch 49/50
24/24 [==============================] - 0s 3ms/step - loss: 0.3854 - accuracy: 0.8257
Epoch 50/50
24/24 [==============================] - 0s 3ms/step - loss: 0.3849 - accuracy: 0.8244

In [53]:
model.evaluate(x_test, y_test)

6/6 [==============================] - 0s 1ms/step - loss: 0.4315 - accuracy: 0.8010

[0.4314650297164917, 0.801047146320343]

In [54]:
yp = model.predict(x_test)
yp[:5]

array([[0.04795688],
       [0.06831503],
       [0.14462534],
       [0.17953563],
       [0.07263714]], dtype=float32)

In [55]:
y_test[:5]

60     0
804    0
934    0
619    0
666    0
Name: Target, dtype: int64

In [56]:
y_predicted =[]
for i in yp:
    if i > 0.5:
        y_predicted.append(1)
    else:
        y_predicted.append(0)

In [57]:
y_predicted[:5]

[0, 0, 0, 0, 0]

In [58]:
from sklearn.metrics import confusion_matrix, classification_report
print(classification_report(y_test, y_predicted))

              precision    recall  f1-score   support

           0       0.85      0.89      0.87       141
           1       0.64      0.54      0.59        50

    accuracy                           0.80       191
   macro avg       0.74      0.72      0.73       191
weighted avg       0.79      0.80      0.80       191